<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Playdog's Toilettage{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css" />

        {% block stylesheets %}

            <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css')}}" media="all"/>

            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}

        {% endblock %}
    </head>
    <body>
        <header id="top">
            <nav>
                <button id="menu-btn" class="menu-btn"> Menu </button>
                <ul id="menu-list">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="{{ path('price') }}">Nos Tarifs</a></li>
                    <li><a href="{{ path('rdv') }}">Rendez-vous</a></li>
                    <li><a href="{{ path('contact') }}">Contact</a></li>
                </ul>
                <div class="head-title">
                    <!-- <h1>Playdog's</h1> -->
                    <img class="logo-top" src="{{ asset('img/logo_playdogs_solo.png')}}" alt="logo" />
                    <div>
                        <h3>Votre salon de toilettage depuis 1996. </h3>
                        <h4>Toiletteur Canin depuis 1996</h4>
                        {% if app.user %}
                        <section>
                            <h6>Connecté : {{ app.user.username }}</h6>
                            {% if app.request.get('_route') == 'edit_dog' and is_granted('ROLE_ADMIN') %}
                            <a href="{{path('admin_admin')}}" >Administration</a>
                            {% elseif app.request.get('_route') == 'manage' and is_granted('ROLE_ADMIN')  %}
                            <a href="{{path('admin_admin')}}" >Administration</a>
                            {% else %}
                            <a href="{{path('manage')}}" >Gestion</a>
                            {% endif %}
                            <a class="logout" href="{{path('logout')}}" >Déconnexion</a>
                        </section>
                        {% endif %}
                    </div>
                </div>

            </nav>
        </header>
        <main>
            <h1 class="underline"> {{ title }}</h1>
        {% block body %}
        {% endblock %}
        </main>
        <footer>
            <hr>
            <p>Nous vous remercions pour votre visite, en espérant vous revoir bientôt</p>
            <div>
                <a href="{{ path('postulation') }}" >Nous rejoindre</a> -
                <a href="{{ path('login') }}"> Se connecter</a>
            </div>
        </footer>
        <script src=" {{ asset('app/app.js') }}"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



                    <script type="text/javascript" src="../fancybox/source/jquery.fancybox.pack.js?v=2.1.7"></script>
                    <script type="text/javascript" src="../fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
                    <script type="text/javascript" src="../fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
    </body>
</html>
