{% extends 'base.html.twig' %}

{% block body %}

<section id="accueil">

    
    <h5>Le salon de toilettage Playdog's, votre toilettage spécialiste bien-être de votre chien ou votre chat, installé à Objat et Ussac (La Pigeonnie de Brive la Gaillarde) vous attend pour le bien de votre chien ou votre chat.<br/> Qu'il soit Caniche, Bichon, Persan ou Saint-Bernard, nous acceptons toutes les races et vous proposerons un catalogue de prestation adapté aux besoins de votre animal. </h5>

    <div class="content-home">
        <div>
            <aside class="hours">
                <h6>Nos horaires : </h6>
                    <br>
                <p class="text-center mr-4 ml-4">Les horaires sont variables car actuellement nous privilégions l'ouverture sur rendez-vous afin d'être disponible au mieux pour vos disponibilités. 
                    <br/> N'hésitez pas à téléphoner pour en savoir plus sur nos horaires d'ouverture</p>
            </aside>
            <aside class="carou-accueil">
                <figure>
                    <img src="{{ asset('img/pres/borderterrier.jpg') }}" alt="Magnifique Border Terrier" />
                    <figcaption>
                        <p>Milou attend sa maman après un toilettage agréable</p>
                    </figcaption>
                </figure>

                <figure>
                    <img src="{{ asset('img/pres/mainecoon.jpg') }}" alt="Magnifique Maine Coon" />
                    <figcaption>
                        <p>La jolie et adorable petite Blue venue se faire pouponner pour retirer ses noeuds</p>
                    </figcaption>
                </figure>                
                <figure>
                    <img src="{{ asset('img/pres/borderterrier.jpg') }}" alt="Magnifique Border Terrier" />
                    <figcaption>
                        <p>Milou attend sa maman après un toilettage agréable</p>
                    </figcaption>
                </figure>
            </aside>
        </div>
        <section class="news">
            <h6>Nos News</h6>
            <figure>
                <img src="{{ asset('img/ouverture-exc.jpg') }}" alt="ouverture" />
                <figcaption>
                    <h6>Ouverture Exceptionnelle</h6>
                    <p>Afin de vous permettre de faire toiletter votre loulou à tout moment, nous ouvrirons ce Samedi 25 Septembre à Ussac. N'hésitez pas à nous appeler au <a href="tel:+33609260130">06.09.26.01.30</a> pour prendre rendez-vous. </p>
                </figcaption>
            </figure>
            <figure>
                <img src="{{ asset('img/nocard.jpg') }}" alt="carte bancaire" />
                <figcaption>
                    <h6>Nous n'acceptons pas la carte bleue</h6>
                    <p>Nous tenions à prévenir notre aimable clientèle que nos magasins n'acceptent pas la carte bancaire, nous acceptons les règlements en chèque et en espèce.</p>
                    <p>L'équipe Playdogs vous remercie de votre compréhension.</p>
                </figcaption>
            </figure>
            <figure>
                <img src="{{ asset('img/logo-fond-noir.jpg') }}" alt="news" />
                <figcaption>
                    <h6>Nouveau Service</h6>
                    <p>Pour le bien-être de vous loulou, et pour palier à ces temps compliqués, nous vous proposons de venir chercher votre chien ou votre chat si vous ne pouvez pas nous l'amener. Les gestes barrières devront être appliqués </p>
                </figcaption>
            </figure>
        </section>
        
    </div>

</section>

{% endblock body %}