{% extends 'base.html.twig' %}

{% block body %}

<div class="manage__add">
{{ form_start(form, {'attr': {'class': 'price'}}) }}

    {{ form_row(form.race) }}
    {{ form_row(form.tonte) }}
    {{ form_row(form.coupe) }}
    {{ form_row(form.epilation) }}
    {{ form_row(form.bain) }}
    <button class="btn" type="submit">Valider le prix</button>

{{ form_end(form) }}
    <div>
        <a class="btn" href="{{ path('admin_admin')}}" >Retour à l'administration</a>
    </div>
</div>

<div class="price-container">
    <table class="price-table">
        <thead>
            <tr>
                <th colspan="5">Prix et Prestations</th>
            </tr>
            <tr>
                <th>Race</th>
                <th>Tonte</th>
                <th>Coupe</th>
                <th>Epilation</th>
                <th>Bain</th>
            </tr>
        </thead>
        <tbody>
        
            {% for value in values %}
            <tr>
                <td><a href="/admin/price/{{ value.id }}" >{{ value.race }} </a></td>
                <td>{{ value.tonte }} €</td>
                <td>{{ value.coupe }} €</td>
                <td>{{ value.epilation }} € </td>
                <td>{{ value.bain }} € / Heure </td>
                <td><a href="{{ path('admin_delete_price', {'id': value.id}) }}" class="btn-point"> X </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}