{% extends 'base.html.twig' %}

{% block body %}

<div class="manage__add">

{{ form_start(formDog) }}

    <div class="form-group">
        {{ form_row(formDog.name, {'label': 'Nom du chien (*)','attr': {'placeholder': 'Nom du chien', 'class': 'form-control w-25'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(formDog.race, {'label': 'Race du chien','attr': {'placeholder': 'Race du chien', 'class': 'form-control w-25'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(formDog.owner, {'label': 'Propriétaire (*)','attr': {'placeholder': 'Propriétaire du chien', 'class': 'form-control w-25'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(formDog.tel, {'label': 'Téléphone','attr': {'placeholder': 'Numéro de téléphone', 'class': 'form-control w-25'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(formDog.description, {'label': 'Description','attr': {'placeholder': 'Description, Détails ou Prestation habituelle', 'class': 'form-control w-25'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(formDog.imageFile, {'label': 'Image','attr': {'class': 'form-control w-25'}}) }}
    </div>

    <div class="d-flex flex-row justify-content-center">

        {% if app.request.get('_route') == "dog_create" %}
        <button type="submit" class="btn">Ajouter le chien</button>
        {% elseif app.request.get('_route') == "dog_edit" %}
        <button type="submit" class="btn">Editer la fiche</button>

        {% else %}
        <button type="submit" class="btn">Valider le chien</button>

        {% endif %}

        {% if app.user and is_granted('ROLE_ADMIN') and app.request.get('_route') == 'dog_edit' %}
            <a href="{{ path('dog_delete', {'id': dog.id }) }}" class="btn">Supprimer le chien</a>
        {% endif %}

    </div>
    {{ form_end(formDog) }}
    
    <div class="manage__add__info">
        {% if app.request.get('_route') == 'dog_edit' %}
            <ul>
                <li>Nom du chien : <span>{{ dog.name }}</span></li>
                <li>Race : <span>{{ dog.race }}</span></li>
                <li>M ou Mme : <span>{{ dog.owner }}</span></li>
                <li>N° Téléphone : <span>{{ dog.tel }}</span></li>
                <li>Description :<br/> <span>{{ dog.description |nl2br }}</span></li>
                <li><img src="{{ asset("img/client/" ~ dog.filename) | imagine_filter('reduc') }} "/></li>
                <br/>
            </ul>
        {% endif %}
    </div>
    <div class="manage__add__button">
        <a href="{{ path('manage') }}" class="btn">Revenir à la liste</a>
        <a href="{{ path('dog_presta', {'id' : dog.id}) }}" class="btn">Ajouter une prestation</a> {# Route à changer lorsque la fonction existera #}

    </div>
</div>


{% endblock body %}