{% extends 'base.html.twig' %}

{% block body %}

{% if app.user %}

    <div class="manage">
        <div class="manage__option">
            <a href="{{ path('dog_create') }}" class="btn">Ajouter un chien</a>
            <input id="search-bar" placeholder="Rechercher un chien ou un client" ></input>
        <!--
            <a href="{{ path('dog_create') }}" class="btn">Trier par nom du chien</a>
            <a href="{{ path('dog_create') }}" class="btn">Trier par race</a>
            <a href="{{ path('dog_create') }}" class="btn">Trier par client</a>
            <a href="{{ path('dog_create') }}" class="btn">Rechercher un numéro </a>
        -->

        </div>
        <section class="manage__list">
            <h2>Liste des clients :</h2>
            <ul>
                {% for dog in dogs %}
                <li class="client"> -
                    <a href="/manage/{{ dog.id }}" >{{ dog.name }} </a> : {{ dog.race }} à M. <a href="/manage/{{ dog.id }}" >{{ dog.owner }} </a></li>
                {% endfor %}
            </ul>
        </section>
    </div>


{% else %}
    <section>
        <h3>Vous devez être connecté pour accéder à cette page !! </h3>
    </section>

{% endif %}



{% endblock %}