{% extends 'base.html.twig' %}

{% block body %}
*

<div class="manage__add">

    
    {{ form_start(form) }}
    
    <button class="btn" type="submit">Valider</button>
    
    {{ form_end(form) }}
    
    {# A déplacer sur la page dog_edit #}
    <div class="d-flex flex-column justify-content-center">
        <h5>{{ dog.name }} {{dog.race}} de M {{ dog.owner}}</h5>
        {% for prestation in prestations %} {# A déplacer sur la page dog_edit #}
        <li class="client"> {{ prestation.description }}
            <br/>
            <p>Fait le : {{prestation.date | date('d M Y à H:i:s', "Europe/Paris")}}  par {{ prestation.groomer }}</p>
        </li>
        {% endfor %} 
    </div>
    {# A déplacer sur la page dog_edit #}

    <div class="manage__add__button">
        <a href="{{ path('dog_edit', {'id':dog.id}) }}" class="btn">Revenir sur {{ dog.name }}</a>
        <a href="{{ path('manage') }}" class="btn">Revenir à la liste</a>
    </div>
</div>


{% endblock body %}